<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jjrp.app_introduccion">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_introduccion">
        <activity
            android:name=".TimeActivity"
            android:exported="false" />
        <activity
            android:name=".MasActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".MapasActivity2"
            android:exported="false" />
        <activity
            android:name=".Sugerencias"
            android:exported="true" />
        <activity
            android:name=".Ingresa"
            android:exported="true" />
        <activity
            android:name=".Buscar"
            android:exported="true" />
        <activity
            android:name=".contacto2"
            android:exported="true" />
        <activity
            android:name=".contacto1"
            android:exported="true" />
        <activity
            android:name=".contacto0"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDYeq5ifDNsnQEcuvUfkHtsyR8nWziJVzs" />
    </application>

</manifest>